* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin-top: 5rem; /* Espacio para el nav fijo */
}

header {
    padding: 2rem;
    background-color: #2e3a46;
    color: #ffffff;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 1000;
    height: 3.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.menu-item {
    width: 10rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: #4a5c69;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 0.9rem;
}

.menu-item:hover {
    transform: translateY(-1rem);
    background-color: #3e4c58;
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

.image-section {
    text-align: center;
    margin: 1rem;
    flex: 1 1 30%;
}

.image-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.image-section:hover img {
    transform: scale(1.05);
}

footer {
    padding: 1rem;
    background-color: #2e3a46;
    color: #ffffff;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

.product {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    width: 22rem; /* Ancho fijo para los productos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-5px); /* Sube un poco al pasar el rat칩n */
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem; /* Bordes redondeados para las im치genes */
}

.product h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.product p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.product button {
    padding: 0.5rem 1rem;
    background-color: #4a5c69;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #3e4c58; /* Cambia color al pasar el rat칩n */
}

.about-container {
    padding: 2rem;
}

.about-container h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.about-container p {
    margin-bottom: 1rem;
}

.about-container ul {
    list-style-type: disc;
    margin-left: 1.5rem; /* Indentaci칩n para la lista */
}


/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .image-section {
        flex: 1 1 100%;
        margin-bottom: 2rem;
    }
}

@media (min-width: 600px) {
    .menu-item {
        width: 15rem;
    }
}

@media (min-width: 900px) {
    .menu-item {
        width: 20rem;
        padding: 2rem;
    }
}

@media (min-width: 1200px) {
    .menu {
        justify-content: space-between;
    }
    
    .menu-item {
        width: 25rem;
        padding: 2.5rem;
    }
}
